<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>ProblemSolving</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
</head>
<body>
<div class="container">
    <div class="page-header">
  <div class="jumbotron">
      <h6 style="text-align: center">Computer science and engineering</h6>
      <h2 style="text-align: center">Algorithm and problem Solving</h2>
</div>
    </div>
        <div>
            <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-6 imgcntr container" style="width: 21%">
        <h4><a>Introduction</a></br></h4>
            <h4><a>List of Experiments</a></br></h4>
            <h4><a>Target Audience</a></br></h4>
            <h4><a>Topic</a></br></h4>
            <h4><a>Feedback</a></br></h4>


        </div>

        <div class="col-sm-6 col-lg-6 col-md-6 imgcntr" style="width: 79%">
            <div>
                <h1>Anil Verma </h1>
                <h3>Web Developer</h3><br></div>
        </div>
    </div>
    </div>
</body>
</html>